span{
color: rgb(11, 15, 250); 
}
.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
ul {
    text-decoration: none;
    }
li {
        float: left;
        list-style-type: none;
        
      }
 .large {
    position: relative; 
    /* position:absolute; */
    height: 400px;
    width:2400px ; 
    margin-bottom: auto;
    margin-top: auto;
    z-index: -1;

}
.message{
    margin: 0px;
    width: 176px;
    height: 137px;
}
.small{
    position:relative;

    width: 10%;
}
.medium{
    position: relative;
    height: 200px;
    width: 400px ;
  
}
.text-box{
position: left;
}
.item3{
    width:2rem;
}

#form-2{
    margin-bottom: 2rem;
    
}
.header{
    position: absolute;
    padding-top: 0%;
    word-wrap: initial;
    min-height: unset;
    min-width: unset;
}
.head {
    text-align: center;
}
.para{
    /* height: 20px;
    width: 20px; */
    flex : wrap ;
    display:inline-flexbox;
    margin-top: 3px;

}
.mess{
    margin:0 ;
    height:145px ;
    width: 174px ;
}
.parac{
    text-align: center;
}
.advert{
    height: 251px;
    width: 251px;
    display:inline-flexbox;
    /* margin-right: 1rem; */
}
.inline{
    display: flex ;
    flex-direction: column;
}
.column{
 display: flex;
}
.image-container{
    display: flex;
    justify-content: space-between;
}
    
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    display: flex;
    flex-direction: column;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .foot{
      text-align: center;
  }
  img{
      float:right;

  }

.pix-box{
    display: flex;
    justify-content: space-around;
}
#form-2 {
    background-color: #648faf;
    border:5px solid ;
    width: 300px;
    padding: 25px ;
    margin-top: 20px;
    margin-bottom: 10px;
    }
  