*{
    box-sizing: border-box;
}
P{
    display:block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body{
    background-color: #F2F2F2;
    margin: 0em;
}
span{
color: #0074F3 ;
font-weight: bold;
font-size: 1.2em;
display:inline;
}
.mobile-menu{
 display:inline;
    
}
.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav{
    display: none;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(10, 1, 20);
}
.mobile-menu{
    cursor:pointer ;
    height: 1.2em;
}
li {
        float: left;
        list-style-type: none;
        
      }
 .large {
    position: relative; 
    height: 400px;
    width:2400px ; 
    margin-bottom: auto;
    margin-top: auto;
}
.message{
    margin: 0px;
    width: 176px;
    height: 137px;
}
.small{
    position:relative;

    width: 10%;
}
.medium{
    position: relative;
    height: 200px;
    width: 400px ;
  
}
.text-box{
position: left;
}
.item3{
    width:2rem;
}

#form-2{
    margin-bottom: 2rem;
    
}
.header{
    position: absolute;
    padding-top: 0%;
    word-wrap: initial;
    min-height: unset;
    min-width: unset;
}
.head {
    text-align: center;
}
.para{
    /* height: 20px;
    width: 20px; */
    flex : wrap ;
    display:inline-flexbox;
    margin-top: 3px;

}
.mess{
    margin:0 ;
    height:145px ;
    width: 174px ;
}
.parac{
    text-align: center;
}
.advert{
    height: 251px;
    width: 251px;
    display:inline-flexbox;
    /* margin-right: 1rem; */
}
.inline{
    display: flex ;
    flex-direction: column;
}
.column{
 display: flex;
}
.image-container{
    display: flex;
    justify-content: space-between;
}
    
* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    display: flex;
    flex-direction: column;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .foot{
      text-align: center;
  }
  img{
      float:right;

  }

.pix-box{
    display: flex;
    justify-content: space-around;
}
#form-2 {
    background-color: #648faf;
    border:5px solid ;
    width: 300px;
    padding: 25px ;
    margin-top: 20px;
    margin-bottom: 10px;
}
.left{
    float:left;
}
.nav{
    position:fixed;
    z-index:999;
    width:80%;
    right: 0;
    top: 0;
    background: #b7bec5;
    height: 100wh;
    padding: 1em;
}
a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: right;
}
li:hower{
    font-weight:bold;
}
@media only screen and (min-width:768px) {
    .mobile-menu, .mobile-menu-exit {
        display:none;
    }
    .nav .container {
        display: grid;
        grid-template-columns: 180px auto;
    
    }
    .nav{
        display:flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }
    a{
        color:black ;
        font-size: 1em;
        padding: 0.1em 1em;
    }
    li:hower{
        background: black;
        color:white;
    }
}
@media only screen and (min-width:1080px) {
    .mobile-menu{
        display:none;
    }
    .nav .container {
        display: grid;
        grid-template-columns: 180px auto;
    
    }
    .nav{
        display:flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width: 100%;
        padding: 0;
    }
    a{
        color:black ;
        font-size: 1em;
        padding: 0.1em 1em;
    }
    li:hower{
        background: black;
        color:white;
    }
}

